@model CinemaAutomation.Areas.Admin.ViewModels.MoviesIndex
@{
    ViewBag.Title = "Filmler";
}

<div class="btn-toolbar">
    <div class="btn-group">
        <a href="@Url.Action("new")" class="btn btn-primary btn-sm"><i class="glyphicon glyphicon-plus"></i>Film Ekle</a>
    </div>
    <div class="btn-group pull-right">
        @if (Model.Movies.HasPreviousPage)
        {
            <a href="@Url.Action("Index",new { Page=Model.Movies.PreviousPage})" class="btn btn-primary btn-sm">
                <i class="glyphicon glyphicon-chevron-left"></i> Önceki Sayfa
            </a>
        }
        else
        {
            <a href="#" class="btn btn-disabled btn-default btn-sm">
                <i class="glyphicon glyphicon-chevron-left"></i> Önceki Sayfa
            </a>
        }

        @if (Model.Movies.HasNextPage)
        {
            <a href="@Url.Action("Index",new { Page=Model.Movies.NextPage})" class="btn btn-primary btn-sm">
                Sonraki Sayfa <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }
        else
        {
            <a href="#" class="btn btn-disabled btn-default btn-sm">
                Sonraki Sayfa <i class="glyphicon glyphicon-chevron-right"></i>
            </a>
        }
    </div>

    <table class="table table-striped table-responsive">
        <thead>
            <tr>
                <th>Film</th>
                <th>Yıl</th>
                <th>Yönetmen</th>
                <th>Tür</th>
                <th>Özet</th>
                <th>İşlemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach(var movie in Model.Movies)
            {
                var cls = "";
                if (movie.IsDeleted)
                {
                    cls = "danger";
                }
                <tr class="@cls">
                    <td style="vertical-align:middle">@movie.MovieName</td>
                    <td style="vertical-align:middle">@movie.ReleaseDate.Year</td>
                    <td style="vertical-align:middle">@movie.MovieDirector</td>
                    <td style="vertical-align:middle">@string.Join(",",movie.Genres.Select(g=>g.GenreName))</td>
                    <td style="vertical-align:middle"><div style="width:100%; max-height:100px; overflow:auto">@movie.Summary</div></td>
                    <td style="width:14%;vertical-align:middle">
                        @if (!movie.IsDeleted)
                        {
                            <div class="btn-group btn-group-xs">
                                <a href="@Url.Action("edit",new {movie.Id })" class="btn btn-primary btn-xs"><i class="glyphicon glyphicon-edit"></i>Düzenle</a>
                                <a href="@Url.Action("trash", new { movie.Id })" class="btn btn-danger" data-post="Filmi kaldırmak atmak istediğinizden emin misiniz ?"><i class="glyphicon glyphicon-remove"></i>Çöp</a>

                                <a href="#" class="btn btn-danger dropdown-toggle" data-toggle="dropdown"><span class="caret"></span></a>
                                <ul class="dropdown-menu">
                                    <li>
                                        <a href="@Url.Action("delete",new { movie.Id})" data-post="Filmi tamamen silmek istediğinizden emin misiniz ?"><i class="glyphicon glyphicon-remove"></i>Sil</a>
                                    </li>
                                </ul>

                            </div>
                        }
                        else
                        {
                            <a href="@Url.Action("restore", new { movie.Id})" class="btn btn-xs btn-success">
                                <i class="glyphicon glyphicon-plus-sign"></i>
                                Kurtar
                            </a>
                        }
                    </td>
                </tr>
            }
        </tbody>
    </table>






</div>


