@model CinemaAutomation.ViewModels.AuthLogin
@{
    ViewBag.Title = "Login";
}
    @using (Html.BeginForm())
    {
        <div class="form-horizontal">
            @Html.ValidationSummary(false, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.Label("Kullanıcı Adı", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(x => x.UserName)
            </div>
            <div class="form-group">
                @Html.Label("Parola", htmlAttributes: new { @class = "control-label col-md-2" })
                @Html.EditorFor(x => x.Password)
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-5">
                    <input type="submit" value="Giriş Yap" class="btn btn-primary" />
                </div>
            </div>
         </div>
            }
