@using System.Web.Optimization

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - Sinema Bilet Al</title>
    @Styles.Render("~/styles")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.RouteLink("SinemaBileti","", new { area = "" }, new { @class = "navbar-brand" })
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-btn">
                @if (!User.Identity.IsAuthenticated)
                {
                    <li class="pull-right"><a href="@Url.RouteUrl("Login")"><i class="glyphicon glyphicon-log-in"></i> Giriş Yap</a></li>
                    <li class="pull-right"><a href="@Url.RouteUrl("NewAccount") "><i class="glyphicon glyphicon-plus-sign"></i> Üye Ol</a></li>
                }
                else
                {
                    <li class="pull-right"><a href="@Url.RouteUrl("Logout") "><i class="glyphicon glyphicon-log-out"></i> Çıkış Yap</a></li>
                    <li class="pull-right"><a href="@Url.RouteUrl("Edit",new { id=CinemaAutomation.Infrastructure.Helpers.GetUsersId(User.Identity.Name)})"><i class="glyphicon glyphicon-user"></i> @User.Identity.Name</a></li>
                    if (User.IsInRole("admnin") || User.IsInRole("yonetici"))
                    {
                        <li class="pull-right">@Html.ActionLink("Filmler", "Index", "Movie", new { area = "admin" }, new { })</li>
                        <li class="pull-right">@Html.ActionLink("Üyeler", "Index", "Users", new { area = "admin" }, new { })</li>
                    }                    
                }                                                
                </ul>
            </div>
        </div>
    </div>

    <div class="container body-content">
        <hr />
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - SinemaBileti.com</p>
        </footer>
    </div>
    @Scripts.Render("~/scripts")
    @RenderSection("Scripts",false)
</body>
</html>